# -----------------------------------------------------------------------------
# OS-Specific
# -----------------------------------------------------------------------------
.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# Build Files
# -----------------------------------------------------------------------------
*.o
*.out
*.a
*.so
*.exe
*.dSYM/
*.obj
*.log
*.swp
*.d       # GCC/Clang generated dependencies
*.gcno    # Coverage files
*.gcda

# -----------------------------------------------------------------------------
# Project Binaries
# -----------------------------------------------------------------------------
philo

# -----------------------------------------------------------------------------
# Editor / IDE Files
# -----------------------------------------------------------------------------
.vscode/
.idea/
*.code-workspace
cmake-build-*/

# -----------------------------------------------------------------------------
# Backup / Temp Files
# -----------------------------------------------------------------------------
*~
*.bak
*.tmp
*.old
*.orig

# -----------------------------------------------------------------------------
# Misc
# -----------------------------------------------------------------------------
*.Zone.Identifier
